name: Terraform CI
on:
  push:
    branches:
      - test
      - master
  pull_request:
    branches:
      - test
      - master

jobs:
    terraform:
        name: 'Terraform Format and Validate'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: AWS Configuration
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: us-east-1

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                  terraform_version: 1.5.6

            - name: Terraform Format
              id: fmt
              run: |
                  terraform fmt -check -recursive

            - name: Terraform Validate
              id: validate
              run: |
                  terraform init -backend=false
                  terraform validate -no-color
    terraform-plan:
        name: 'Terraform Plan'
        runs-on: ubuntu-latest
        needs: terraform
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                  terraform_version: 1.5.6

            - name: Terraform Plan
              id: plan
              run: |
                  terraform init
                  terraform plan -no-color

    terraform-apply:
        name: 'Terraform Apply'
        runs-on: ubuntu-latest
        needs: terraform-plan
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                  terraform_version: 1.5.6

            - name: Terraform Apply
              id: apply
              run: |
                  terraform init
                  terraform apply -auto-approve -no-color
